* {
	padding: 0;
	margin: 0 auto;
}

body {
	height: 1000px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: rgba(90,90,90,0.85);
	text-align: center;
}

nav>a {
	font-size: 1.5em;
	font-family: verdana;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 2em;
	vertical-align: middle;
	height: 100%;
}

nav>a:hover {
	background-color: rgba(90,90,90,1);
	color: #ffffff;
}

#header {
	height: 80%;
	width: 100%;
	background-color: rgba(90,90,90,1);
}

.part {
	width: 100%;
}

h1 {
	color: #eeeeee;
	font-size: 10em;
	font-family: Verdana;
	text-align: center;
	line-height: 2em;
	vertical-align: middle;
}

#footer {
	height: 20%;
	width: 100%;
	background-color: rgba(90,90,90,1);
}

.part p {
	font-size: 3em;
}

#part-1 {
	color: rgba(250,150,100,1);
	background-color: rgba(200,100,50, 1);
}

#part-2 {
	color: rgba(150,100,250,1);
	background-color: rgba(100,50,200, 1);	
}
#part-3 {
	color: rgba(100,150,250,1);
	background-color: rgba(50,100,200, 1);
}
#part-4 {
	color: rgba(150,250,100,1);
	background-color: rgba(100,200,50,1);	
}