.card {
	width: 40px;
	height: 60px;
	border-radius: 2px;
	border: 1px solid #eee;
	display: inline-block;
	margin: 2px;
}

.pattern {
	width: 40px;
	height: 60px;
}
.club {
	background-color: #aa66cc;
}
.heart {
	background-color: #ff4444;
}
.diamond {
	background-color: #ffbb33;
}
.spade {
	background-color: #99cc00;
}

.point {
	text-align: center;
	vertical-align: bottom;
	font-family: sans-serif;
	font-size: 36px;
	color: #eee;
	padding-top: 10px;
}