body {
	color: #cccccc;
	background-color: #444444;
	padding: 0;
	margin: 0;
}

#container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.block {
	margin: 1px;
	display: inline-block;
	background-color: #efefef;
	float: left;
}

.block::after {
	clear: both;
}

.block-1x1 {
	width: 5rem;
	height: 5rem;
}

.block-1x2 {
	width: 5rem;
	height: 10rem;
}

.block-2x1 {
	width: 10rem;
	height: 5rem;
}

.block-2x2 {
	width: 10rem;
	height: 10rem;
}
